doctype
html(lang="en")
  head
    include ../includes/header.pug
  body
    include ../includes/navbar.pug
    .jumbotron.text-center.bg-transparent
      h1.display-3 404
      p.lead You chose the wrong place to get your bamboo.
        i.fas.fa-star.pl-2
      a.btn.btn-dark(href='/') Go back