doctype
html(lang="en")
  head
    include includes/header.pug
  body
    include includes/navbar.pug
    .jumbotron.text-center.bg-transparent
      h1.display-3 Panda Bot
      p.lead Playing Bamboo Simulator 
        i.fas.fa-star.pl-2
      button.btn.btn-dark Add